:root {
  --height-navbar: 60px;
  --color-primary: #8f1dd7;
  --color-primary-faded: #9a33db;
  --color-black: #191414;
}

.centralized-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 5px 5px 30px 0px #efefef;
}

section {
  width: 100%;
  height: 100%;
}

 a {
   color: var(--color-primary);
 }

input {
  height: 40px;
  border: 0px;
  border-bottom: 2px solid #ededed;
  font-size: 22px;
  padding: 5px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #cacaff;
}

button {
  border: 0px;
  padding: 13px 30px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button.primary {
  background: var(--color-primary);
  color: white;
}

button:hover.primary {
  background: var(--color-primary-faded);
}
