.one {
  width: 10%;
}
.one-half {
  width: 15%;
}
.two {
  width: 20%;
}
.two-half {
  width: 25%;
}
.three {
  width: 30%;
}
.three-half {
  width: 35%;
}
.four {
  width: 40%;
}
.four-half {
  width: 45%;
}
.five {
  width: 50%;
}
.five-half {
  width: 55%;
}
.six {
  width: 60%;
}
.six-half {
  width: 65%;
}
.seven {
  width: 70%;
}
.seven-half {
  width: 75%;
}
.height {
  width: 80%;
}
.height-half {
  width: 85%;
}
.nine {
  width: 90%;
}
.nine-half {
  width: 95%;
}
